@{
    Layout = "~/Views/TrangChung/TrangChung.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noi Dung</title>
    <link href="/CSS/TrangChu.css" rel="stylesheet" />
    <link href="/CSS/PhanAn.css" rel="stylesheet" />

</head>
<body>


    <h1>THỰC ĐƠN</h1>
    <div id="menu1">

        <ul>
            <li><a href="#">Phần ăn combo</a></li>
            <li><a href="#">Gà rán và quay</a></li>
            <li><a href="#">Hamburger và cơm</a></li>
            <li><a href="#">Thức ăn nhẹ</a></li>
            <li><a href="#">Tráng Miệng và Đồ uống</a></li>
        </ul>
    </div>
    <div class="phanan">

        <div id="anh"><a href="#"><img src="/images/ga4.PNG" alt=""><br>COMBO 2 NGƯỜI 139.000Đ</a></div>
        <div id="anh"><a href="#"><img src="/images/ga5.PNG" alt=""><br>COMBO 3 NGƯỜI 199.000Đ</a></div>
        <div id="anh"><a href="#"><img src="/images/ga6.PNG" alt=""><br>COMBO KIDDIE 1 81.000Đ</a></div>
        <div id="anh"><a href="#"><img src="/images/ga7.PNG" alt=""><br>COMBO GÀ RÁN B </a></div>
        <div id="anh"><a href="#"><img src="/images/ga8.PNG" alt=""><br>PHẦN ĂN XL  99.000Đ</a></div>
        <div id="anh"><a href="#"><img src="/images/ga9.PNG" alt=""><br>COMBO GÀ 55.000</a></div>

    </div>



</body>
</html>