<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/CSS/TrangChu.css" rel="stylesheet" />
</head>
<body>
    <div id="top">
        <div><a id="yum" href="/"></a></div>
        <div id="dropdown">
            <div id="DD"></div>
            <select id="dd">
                <option value="0">Tỉnh/Thành Phố</option>
                <option value="1">Hồ Chí Minh</option>
                <option value="2">Hà Nội</option>
                <option value="3">Hải Dương</option>
                <option value="4">Hải Phòng</option>
                <option value="5">Quảng Ninh</option>
                <option value="6">Nghệ An</option>
                <option value="7">Huế</option>
                <option value="8">Đà Nẵng</option>
                <option value="9">Bình Định</option>
                <option value="10">Khánh Hòa</option>
                <option value="11">Bình Thuận</option>
                <option value="12">Đắk Lắk</option>
                <option value="13">Bình Dương</option>
                <option value="14">Đồng Nai</option>
                <option value="15">Vũng Tàu</option>
                <option value="16">An Giang</option>
                <option value="17">Cần Thơ</option>
                <option value="18">Kiên Giang</option>
                <option value="19">Thanh Hóa</option>
                <option value="20">Bến Tre</option>
                <option value="21">Nam Định</option>
            </select>
        </div>
        <div id="language">Ngôn Ngữ</div>

        <div id="anhlg1"></div>
        <div id="anhlg2"></div>
        <div id="dndk">
            <div id="dn"><a href="/QuanTri/DangNhap/DNhap">Đăng nhập</a></div>&nbsp;|
            <div id="dk"><a href="/QuanTri/DangNhap/DKy">Đăng ký</a></div>
        </div>
    </div>
    <div id="menu">
        <ul class="ul1">
            <li><a href="/">TRANG CHỦ</a> </li>
            <li><a href="">GIỚI THIỆU</a> </li>
            <li>
                <a href="">THỰC ĐƠN</a>
                <ul class="sub-menu">
                    <li><a href="/PhanAn/PhanAn"><img src="/images/foody-alpha-go-fast-food-more-134-636169041665796569.jpg" width="80" height="80"><br />PHẦN ĂN COMBO</a></li>
                    <li><a href="#"><img src="/images/hqdefault.jpg" width="80" height="80"><br />GÀ RÁN VÀ QUAY </a></li>
                    <li><a href="#"><img src="/images/1557be99c3d1258.jpg" width="80" height="80"><br />BƠ GƠ VÀ CƠM</a></li>
                    <li><a href="#"><img src="/images/1359079081104910_574_574.jpg" width="80" height="80"><br />THỨC ĂN NHẸ</a></li>
                    <li><a href="#"><img src="/images/tải xuống.jpg" width="80" height="80"><br />TRÁNG MIỆNG VÀ THỨC UỐNG</a></li>
                </ul>
            </li>
            <li> <a href="/KhuyenMai/Kmai">KHUYẾN MÃI</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
  
    <div id="footer">
        Designer by Nhóm SV K18 ĐH CNTT- Web FastFood
    </div>
</body>
</html>
