
@{
    ViewBag.Title = "Chương trình khuyến mãi";
    Layout = "~/Views/TrangChung/TrangChung.cshtml";
}
<link href="~/CSS/Km.css" rel="stylesheet" />
<link href="~/CSS/TrangChu.css" rel="stylesheet" />
<div>
    <div id="akm"></div>
</div>

