<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang Quản Trị</title>
    <link rel="stylesheet" href="~/Areas/QuanTri/CSSqt/CssQT.css" />
</head>
<body>
    <div id="qt">
        <div id="menuqt">
            <div id="ql">Quản lý người dùng</div>
            <div id="ql">Quản lý sản phẩm</div>
            <div id="ql">Quản lý tin tức</div>
        </div>

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
