   #body {
            font-family: Tahoma;
            text-align: left;
            width: 960px;
          color:black;
        }
         #anh{
	width: 300px;
	height: 300px;
    text-align:center;
    
    /*border:1px solid;*/
     /*float:left;*/
    } #anh1{
	width: 300px;
	height: 270px;
    text-align:center;
    
     /*
    border:1px solid;
         float:left;*/
    }
       #anh a{
           font-family:Tahoma;
          text-decoration:none;
      }
      #anh1 a{
          text-decoration:none;
      }
       #anh1 img{
	width: 300px;
	height: 250px;
    text-align:center;
    
   
     /* border:1px solid;
         float:left;*/
    }
        #banner{
            width:100%;
            height:100px;
        }

        .tab {
            margin:0px 0px 0px 200px;
                
            width:960px;
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #f00;
                    color:black;
                    
                }

        /* Style the tab content */
        .tabcontent {
            color:black;
            font-size:18px;
            font-family:Tahoma;
            display: none;
            margin:0px 100px 0px 200px;
            /*padding: 6px 12px;*/
            /*border: 1px solid #ccc;*/
            border-top: none;
            /*background:#f1f1f1;*/
        }
  
/*/*//////////////////////*/
/*phần tử phủ toàn màn hình,không được hiển thị*/
/*#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}*/