body{
	font-family: Tahoma;
	background: white;
}
h1{
	text-align: center;
	color: #008B8B;

}
#menu1 ul{
	list-style-type: none;
	background: #5F9EA0;
	border: 1px solid gray;
	width: 1366px;
    text-align:center;
}
#menu1 ul li a{
	text-decoration: none;
	color: white;
	font-family: Tahoma;
	font-weight: bold;
	display: block;
}
#menu1 ul li{
	display: inline-table;
	width: 120px;
	height: 40px;
	line-height: 20px;
	position: relative;
	/*left: 140px;*/
	padding-left: 20px;
    text-align:center;
}
#menu1 ul li a:hover{
	background: #DC143C;
	color: white;
}
.phanan{
     background-color:#008B8B; 
    width:1056px;
    height:504px;
    margin:auto;
}
.phanan a{
	text-decoration: none;
	color: black;
	font-family: Tahoma;
	font-weight: bold;
	left: 50px;

}
.phanan img{

	width: 300px;
	height: 200px;
	background-color:aqua
}
#anh{
	width: 350px;
	height: 250px;
    text-align:center;
    background-color:aqua;
    border:1px solid;
    float:left;
}
