*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: sans-serif;
	color: white;
	
}
#menu ul{
	text-align: center;
	width:1366px;
	height: 25px;
     background-color:#ff0000;
     border:1px solid white;
     list-style-type: none;
}	

#menu ul li{
	color: white;
	display: inline-table;
	width: 150px;
	height: 30px;
	line-height:1.5;
	position: relative;
    border-right:1px solid white;
    border-left:1px solid white;
}
#menu ul li a{
	font-weight: bold;
	font-family: Tahoma; 
	text-decoration: none;
	color: white;
	display: block;
}
#menu ul li a:hover{
	background: #B22222;
	color: white;
}
#menu .sub-menu{
    margin-left:-300px;
	width: 800px;
	height: 150px;
	position: relative;
     background-color:#ff0000;
     z-index:1;
}
#menu ul li > .sub-menu{
	display: none;
	position: absolute;
}
#menu ul li:hover .sub-menu{

	display: block;
	background:#ff0000;
}
#top {
    width: 1366px;
    height: 150px;
    background-image: url(/images/top.jpg);
    background-size: cover;
    background-position: center;
}

#DD {
    width: 150px;
    height: 30px;
    background-image: url(/images/anhdd.png);
}

#dropdown {
    width: 150px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

#dd {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}
#dd:hover {
       background-color:#ffbc74;
    }
#language {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 2;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    background-color: #00ff90;
    border-radius: 10px;
    color: #000000;
}
#language:hover {
        cursor:default;
    }
#anhlg1 {
    margin-bottom: -7px;
    width: 28px;
    height: 23px;
    background-image: url(/images/lang-vn-mobile.png);
    display: inline-block;
}

    #anhlg1:hover {
        cursor:pointer;
    }

#anhlg2 {
    margin-bottom: -7px;
    width: 28px;
    height: 23px;
    background-image: url(/images/lang-en-mobile.png);
    display: inline-block;
}
      #anhlg2:hover {
        cursor:pointer;
    }
#yum {
    width: 150px;
    height: 150px;
    background-image: url(/images/yum.jpg);
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-position: center;
}
#dndk{
    width:200px;
    height:30px;
    background-color:#ff0000;
    float:right;
    text-align:center;
    margin-top:5px;
    margin-right:10px;
    line-height:2;
}
#dndk a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
#dndk a:hover{
    background-color:#B22222;
}
#dn{
    display:inline-block;
}
#dk{
    display:inline-block;
}
.slideshow {
   width: 1366px;
   height: 350px;
   border: 1px solid #eee;
   border-radius: 10px;
   position: relative;
   background-color:#000000;
}

.slideshow > img {
   position: absolute;
   margin: auto;
   opacity: 0;
   transition: opacity 1s;

}

.slideshow > input {
    width:20px;
    height:20px;
   position: relative;
   z-index: 3;
}

.slideshow > input:checked + img {
   opacity: 1;
}
#radio{
     margin-top:320px;
    margin-left:250px
}
#a1{
    margin-left:150px
}
#a2{
    margin-left:125px
}
#a3{
    margin-left:100px
}
#a4{
    margin-left:75px
}
#a5{
    margin-left:50px
}
#banner {
    width: 1366px;
    height: 350px;
    overflow:hidden;
}
#video {
    margin-top:5px;
    width: 300px;
    height: 215px;
 background-color:#ffffff;
}
#footer {
    margin-left:-8px;
    margin-top:10px;
    width: 1366px;
    height: 50px;
    text-align:center;
    line-height:3;
    background-color:#ff0000;
}