@{
    Layout = "~/Views/TrangChung/TrangChung.cshtml";
}

<link href="/CSS/TrangChu.css" rel="stylesheet" />
<link href="/CSS/PhanAn.css" rel="stylesheet" />

<div id="banner">
    @*banner*@
    <div class="slideshow">
        <input id="radio" type="radio" name="indicator" checked>
        <img id="a1" src="~/images/1557be99c3d1258.jpg" width="500" height="350">

        <input type="radio" name="indicator">
        <img id="a2" src="~/images/barbecue-bbq-chicken-106343.jpg" width="500" height="350">

        <input type="radio" name="indicator">
        <img id="a3" src="~/images/beef-blur-bread-551991.jpg" width="500" height="350">

        <input type="radio" name="indicator">
        <img id="a4" src="~/images/calories-chicken-chopping-board-616353.jpg" width="500" height="350">

        <input type="radio" name="indicator">
        <img id="a5" src="~/images/chips-dinner-fast-food-70497.jpg" width="500" height="350">
    </div>
</div>