
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/CSS/CssDKy.css" />
</head>
<body>
    <div id="DKnen">
        <div id="mauDK">ĐĂNG KÝ THÀNH VIÊN</div>
        <div id="hvt">
            <label>Họ và tên: </label>
            <input type="text" />
        </div>
        <div id="email">
            <label>Email: </label>
            <input type="text" />
        </div>
        <div id="dkpass">
            <label>Mật khẩu:</label>
            <input type="text" />
        </div>
        <div id="llpass">
            <label>Nhập lại mật khẩu:</label>
            <input type="text" />
        </div>
        <div id="gioitinh">
            <label>Giới tính:</label>
            <input type="checkbox" name="gt" value="Nam" />Nam
            <input type="checkbox" name="gt" value="Nu" />Nữ
        </div>
        <div id="ngaysinh">
            <label>Ngày sinh:</label>
            <input type="date" />
        </div>
        <div id="dthoai">
            <label>Điện thoại:</label>
            <input type="text" />
        </div>
        <div id="btnDK">
            <input id="dangky" type="submit" value="Đăng ký">
        </div>
        <div>
            <input type="checkbox" />
            <label>
                Tôi đồng ý với các&nbsp;<a href="#">Chính Sách và Quy Định Chung</a>
                của công ty Yum
            </label>
        </div>
        <div>
            <input type="checkbox" />
            <label>Nhận tin từ Yum qua Email</label>
        </div>
    </div>
</body>
</html>

