
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/CSS/CssDNhap.css" />
</head>
<body>
    <div id="DNnen">
        <div id="avartar"></div>
        <div id="mauDN">ĐĂNG NHẬP</div>
        <div id="DNND">
            <label>Tài Khoản</label>
            <input type="text" />
        </div>
        <div id="DNpass">
            <label>Mật khẩu</label>
            <input type="text" />
        </div>
        <div id="qmk"><a href="#">Quên mật khẩu ?</a></div>
        <label>
            <input type="checkbox" value="">
            <span><i id="ghinho"></i></span> Ghi nhớ
        </label>
        <div id="btnDN">
            <input id="dangnhap" type="submit" value="Đăng nhập">
        </div>
        <a href="#">
            <div id="DNface">Đăng nhập bằng Facebook</div>
        </a>
        <a href="j#">
            <div id="DNgle">Đăng nhập bằng Google</div>
        </a>
        <span>Bạn chưa có tài khoản?</span>
        <a href="/QuanTri/DangNhap/DKy">Đăng ký ngay</a>
    </div>

</body>
</html>
